.App {
  text-align: center;
  max-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-main{
  background: url(./assets/login--line-bg.png);
  height: 50px;
  width: 100%;
}
.container{
  max-width: 100%;
  margin: 50px 100px 50px 100px;
  margin-bottom: 50px;
  height: 65vh;
  background-image: linear-gradient(to right bottom, rgba(205, 224, 202, 0.8),
  rgba(30, 126, 133, 0.8)) ,url(./assets/login--bg.jpg);
}

.main-container{
  height: 100vh;
  background-color: rgb(27, 113, 124);
}

.back-button{
  margin-left: -270px;
  margin-top: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
